body {
    font-family: Tahoma, Arial, Helvetica;
    margin-left: auto ;
    margin-right: auto ;
    font-size: small;
}

legend {
    border-width:5pt;
    border-color:red;
    border-radius:15px;
    background-color:#191970;
    color:white;
    padding: 5px 5px 5px 5px;
}

fieldset {
    margin-left: auto ;
    margin-right: auto ;
    border-width:.75pt;
    border-color:black;
    border-radius:15px;
    margin-top:25px;
    max-width:475px;
}

